<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Primary Account Transaction List</h1>

			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Post Date</th>
							<th>Description</th>
							<th>Type</th>
							<th>Status</th>
							<th>Amount</th>
							<th>Available Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let primaryTransaction of primaryTransactionList">
						<td>{{primaryTransaction.date | date: 'MM/dd/yyyy'}} </td>
						<td>{{primaryTransaction.description}}</td>
						<td>{{primaryTransaction.type}}</td>
						<td>{{primaryTransaction.status}}</td>
						<td>{{primaryTransaction.amount}}</td>
						<td>{{primaryTransaction.availableBalance}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
